.profile__avatar{
    background-size: cover;
    max-width: 120px;
    max-height: 120px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
}
@media screen and (max-width: 1279px){
    .profile__avatar{
        /*width: calc(120/1280*100%);*/
    }
}