.popup__inputs-container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 54px;
    align-items: flex-start;
    width: calc(358/394*100%);
    border: none;
}
    
@media screen and (max-width: 636px){
    .popup__inputs-container{
        margin-top: 75px;
    }
}